In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("../data/curated/domain_final.csv")

In [5]:
df.head()

,Unnamed: 0,uri,name,cost_text,type,school_title,school_distance,suburb_sold,suburb_avg_day,suburb_population,...,dist_nearest_secondary_school,Beds,Bath,Parking,SA2_CODE21,avg_income,Median_tot_fam_inc_weekly,Tot_P_P,Median_age_persons,Median_rent_weekly
0,0,https://www.domain.com.au/1202-620-collins-str...,1202/620 Collins Street Melbourne VIC 3000,$500 per week,Apartment / Unit / Flat,University High School,2.4,596.0,147.0,47279.0,...,380.6,2.0,1.0,1,206041503,2035.430097,2248.0,9848.0,30.0,375.0
1,2,https://www.domain.com.au/5707b-639-little-lon...,5707B/639 Little Lonsdale Street Melbourne VIC...,$570,Apartment / Unit / Flat,University High School,1.9,387.0,120.0,47279.0,...,355.7,1.0,1.0,0,206041503,2035.430097,2248.0,9848.0,30.0,375.0
2,4,https://www.domain.com.au/1202-31-spring-stree...,1202/31 Spring Street Melbourne VIC 3000,$570.00,Apartment / Unit / Flat,Carlton Gardens Primary School,1.4,596.0,147.0,47279.0,...,703.0,2.0,1.0,1,206041503,2035.430097,2248.0,9848.0,30.0,375.0
3,5,https://www.domain.com.au/623-539-st-kilda-roa...,623/539 St Kilda Road Melbourne VIC 3000,$475 per week,Apartment / Unit / Flat,South Yarra Primary School,0.7,387.0,120.0,47279.0,...,584.0,1.0,1.0,1,206041503,2035.430097,2248.0,9848.0,30.0,375.0
4,6,https://www.domain.com.au/315-118-russell-stre...,315/118 Russell Street Melbourne VIC 3000,$550 per week,Apartment / Unit / Flat,Carlton Gardens Primary School,1.3,387.0,120.0,47279.0,...,497.6,1.0,1.0,0,206041503,2035.430097,2248.0,9848.0,30.0,375.0

In [6]:
affortable_df = pd.DataFrame(df,columns=["postcode","cost","avg_income"])

In [8]:
affortable_df["cose_gap"]=affortable_df["avg_income"]-affortable_df["cost"]

In [12]:
affortable_df.head()

   postcode   cost   avg_income     cose_gap
0      3000  500.0  2035.430097  1535.430097
1      3000  570.0  2035.430097  1465.430097
2      3000  570.0  2035.430097  1465.430097
3      3000  475.0  2035.430097  1560.430097
4      3000  550.0  2035.430097  1485.430097

In [11]:
affortable_df.shape

(10158, 4)