In [1]:
import pandas as pd
import re
import csv

In [2]:
df = pd.read_csv("../data/raw/2021_GCP_SA2_for_VIC_short-header/2021 Census GCP Statistical Area 2 for VIC/2021Census_G33_VIC_SA2.csv")
df.head()

,SA2_CODE_2021,Neg_Nil_inc_fam_households,Neg_Nil_inc_Non_fam_househlds,Negative_Nil_income_Tot,HI_1_149_Family_households,HI_1_149_Non_family_hseholds,HI_1_149_Tot,HI_150_299_Family_households,HI_150_299_Non_fam_househlds,HI_150_299_Tot,...,HI_4000_more_Tot,Part_inc_stated_Fam_household,Part_inc_std_Non_fam_hhds,Partial_income_stated_Tot,All_incomes_ns_Famly_househld,All_inc_ns_Non_famly_househld,All_incomes_not_stated_Tot,Tot_Family_households,Tot_Non_family_households,Tot_Tot
0,201011001,28,34,58,14,16,31,13,26,38,...,618,284,24,306,30,37,68,4481,1275,5763
1,201011002,18,57,75,9,21,32,15,60,72,...,682,164,34,195,28,35,62,3032,2006,5036
2,201011005,14,24,38,14,8,14,6,19,24,...,328,105,7,113,13,14,28,1989,534,2522
3,201011006,21,27,47,6,11,24,15,20,34,...,181,150,16,166,37,39,70,2887,981,3870
4,201011007,11,7,18,3,4,10,7,10,11,...,151,98,3,102,14,3,18,1174,222,1395

In [3]:
cols = [col for col in df.columns if 'Tot' in col and 'Neg' not in col and 'stated' not in col]

In [4]:
df1 = df[cols].drop(['Tot_Family_households','Tot_Non_family_households','Tot_Tot'],axis=1)
df1['SA2_CODE21'] = df['SA2_CODE_2021']
df1.head()

,HI_1_149_Tot,HI_150_299_Tot,HI_300_399_Tot,HI_400_499_Tot,HI_500_649_Tot,HI_650_799_Tot,HI_800_999_Tot,HI_1000_1249_Tot,HI_1250_1499_Tot,HI_1500_1749_Tot,HI_1750_1999_Tot,HI_2000_2499_Tot,HI_2500_2999_Tot,HI_3000_3499_Tot,HI_3500_3999_Tot,HI_4000_more_Tot,SA2_CODE21
0,31,38,81,232,211,284,327,418,384,344,349,702,529,485,297,618,201011001
1,32,72,119,324,282,305,331,379,383,316,253,484,280,275,181,682,201011002
2,14,24,35,108,101,145,138,182,176,128,129,291,222,195,120,328,201011005
3,24,34,64,213,143,242,259,328,340,261,309,548,323,218,104,181,201011006
4,10,11,21,54,34,78,73,72,97,69,84,185,147,112,65,151,201011007

In [5]:
df1.columns[0]

'HI_1_149_Tot'

In [6]:
avg = 0
df1['total_amount'] = 0
df1['family_amount'] = 0
for i in range(len(df1.columns)-3):
    if(i != 15):
        low = int(re.findall(r'[0-9]+', df1.columns[i])[0])
        upper = int(re.findall(r'[0-9]+', df1.columns[i])[1])
        avg = low + ((upper - low)/2)
    else:
        avg = 5500
    df1['total_amount'] = df1['total_amount'] + avg * df1.iloc[:, i]
    df1['family_amount'] = df1['family_amount'] + df1.iloc[:, i]
df1['avg'] = df1['total_amount']/df1['family_amount']

In [7]:
df1.head()

,HI_1_149_Tot,HI_150_299_Tot,HI_300_399_Tot,HI_400_499_Tot,HI_500_649_Tot,HI_650_799_Tot,HI_800_999_Tot,HI_1000_1249_Tot,HI_1250_1499_Tot,HI_1500_1749_Tot,HI_1750_1999_Tot,HI_2000_2499_Tot,HI_2500_2999_Tot,HI_3000_3499_Tot,HI_3500_3999_Tot,HI_4000_more_Tot,SA2_CODE21,total_amount,family_amount,avg
0,31,38,81,232,211,284,327,418,384,344,349,702,529,485,297,618,201011001,12097684.5,5330,2269.734428
1,32,72,119,324,282,305,331,379,383,316,253,484,280,275,181,682,201011002,10008608.0,4698,2130.397616
2,14,24,35,108,101,145,138,182,176,128,129,291,222,195,120,328,201011005,5403328.0,2336,2313.068493
3,24,34,64,213,143,242,259,328,340,261,309,548,323,218,104,181,201011006,6672032.0,3591,1857.987190
4,10,11,21,54,34,78,73,72,97,69,84,185,147,112,65,151,201011007,2918874.0,1263,2311.064133

In [8]:
df2 = df1[['SA2_CODE21','avg']]
df2

     SA2_CODE21          avg
0     201011001  2269.734428
1     201011002  2130.397616
2     201011005  2313.068493
3     201011006  1857.987190
4     201011007  2311.064133
..          ...          ...
519   217041478  1905.366053
520   217041479  1850.573197
521   217041480  1823.943042
522   297979799          NaN
523   299999499          NaN

[524 rows x 2 columns]

In [11]:
df2.to_csv('../data/curated/income.csv',index=False)